{% extends "base.html" %}
{% block content %}
{% for news in good_news %}
<li>
    <a href="{{url_for('news', news_id = news.id)}}">
        {{ news.title }}</a>

</li>
{% endfor %}

<form method="POST">
    {{ template_form.hidden_tag() }}
    <p>
        {{ template_form.news.label }}
        {{ template_form.news() }}
        <p>
        {{ template_form.news_text.label }}
        {{ template_form.news_text() }}
        </p>
    </p>

    <p>
        {{ template_form.submit() }}
    </p>

</form>
{% endblock %}
